@charset "utf-8"
body {
  background-color: yellow;
  margin: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 5px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 8.3rem;
  background-color: white;
  padding-top: 4px;
}

.headerContent {
  width: 100%;
  height: auto;
  margin: auto;
}

.headerContent .home_icon {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  height: auto;
  width: 15%;
  margin-right: 42%;
}

.headerBreak {
  width: 100%;
  height: 0;
  border-bottom: 5px solid #42bafa;
}

.nav_icon {
  position: fixed;
  margin-left: 20px;
}

.inside-modal {
  margin: auto;
  text-align: center;
}

.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 1rem;
  width: 100%;
  margin-top: 20px;
  margin-right: 10px;
  height: 0rem;
}

.nav img {
  width: 4%;
  border-radius: 50%;
  border: 3px solid transparent;
  display: inline-block;
  float: right;
  margin-right: 1rem; 
}

.nav img:hover {
  border: 3px solid gray;
  cursor: pointer;
}

.nav .dropDown {
  visibility: hidden;
  clear: both;
  display: block;
  float: right;
  margin-right: 5px;
  border: 2px solid #3cace8;
  cursor: pointer;
}

.nav .dropDown a {
  display: block;
  padding: 5px;
  font-size: 1.25vw;
  text-align: center;
  background: #42bafa;
}

.nav .dropDown .link:hover {
  filter: brightness(80%);
}

.nav #post {
  border-radius: 100%;
  float: left;
}

.nav img:hover {
  filter: brightness(80%);
  border: 3px solid gray;
}

.nav #post:hover {
  background: #828282;
}

.bar, #request {
  border-radius: 25px;
  background-color: green;
  margin-left: 2rem;
  font-size: 2rem;
  border: solid blue;
  padding: 1rem 2rem;
  display: inline-block;
}

.bar:hover, #request:hover {
  background-color: blue;
  cursor: pointer;
}
