@charset "utf-8"
body {
  background-color: yellow;
  margin: 0;
}

.row {
  padding: 2px;
  margin-top: 3rem;
}

.column {
  padding: 0px;
  text-align: center;
  float: left;
  width: 25%;
}

.search-container {
  float: left;
  margin-left: 5%;
  margin-top: -5.5rem;
  border: 4px solid #fedb6b;
}

.search-container button {
  float: right;
  padding: 6px;
  background: #ddd;
  border: none;
  font-size: 17px;
  cursor: pointer;
  width: 25%;
}

.search-container button:hover {
  background: #686868;
}

.search-container input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  width: 69%;
}

.search-container input:focus {
  outline: none;
}

.search-container input:focus::placeholder {
  color: transparent;
}

@media only screen and (max-width: 1200px) {
  .column {
    width: 33%;
  }
}

@media only screen and (max-width: 950px) {
  .column {
    width: 50%;
  }
}
  
@media only screen and (max-width: 700px) {
  .column {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

.posting {
  height: 17rem;
  width: auto;
  border-radius: 25px;
  width: 60%;
  display: inline-block;
  margin-bottom: 5%;
}

.posting:hover {
  cursor: pointer;
}

.posting .title {
  font-size: 1.25vw;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

.posting:hover .title {
  text-decoration: underline;
}

.posting:hover .image {
  filter: brightness(80%);
  cursor: pointer;
}

.posting .description {
  float: left;
  list-style: none;
}

.posting .description li {
  text-align: left;
}

.posting .image {
  width: 80%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.posting .loc {
  font-size: 0.8vw;
  text-align: left;
  margin-left: 10%;
}

.posting .time {
  font-size: 0.6vw;
  text-align: right;
  margin-right: 10%;
  color: gray;
}

.load_more {
  border-radius: 50px;
  width: 5%;
  height: auto;
  margin-right: auto;
  margin-left: 48%;
}

.load_more:hover {
  background-color: green;
}
