@charset "utf-8"
body {
  background-color: yellow;
  margin: 0;
}

.bar {
  border-radius: 25px;
  background-color: green;
  margin-left: 2rem;
  font-size: 2rem;
  border: solid blue;
  padding: 1rem 2rem;
  display: inline-block;
}

.bar:hover, #request:hover {
  background-color: blue;
}

.bottomNav {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 40px;
}

.bottomNav img {
  width: 4%;
  border-radius: 50%;
  display: inline-block;
  float: right;
  margin-right: 1rem;
  border: 3px solid transparent;
}

.bottomNav img:hover {
  border: 3px solid gray;
}

.user #picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 50%;
}

.user p {
  display: block;
  text-align: center;
}

.user #name {
  font-size: 3rem;
}

.user #trust-factor {
  font-size: 2.5rem;
}

.user #trust-factor {
  font-size: 1.5rem;
}