@charset "utf-8"
body {
  background-color: yellow;
  margin: 0;
}

.row {
  padding: 2px;
  margin-top: 3rem;
}

.column {
  padding: 0px;
  text-align: center;
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

.posting {
  height: 17rem;
  width: auto;
  border-radius: 25px;
  width: 60%;
  display: inline-block;
  margin-bottom: 2rem;
}

.posting:hover {
  cursor: pointer;
}

.posting .title {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

.posting:hover .title {
  text-decoration: underline;
}

.posting:hover .image {
  filter: brightness(80%);
  cursor: pointer;
}

.posting .description {
  float: left;
  list-style: none;
}

.posting .description li {
  text-align: left;
}

.posting .image {
  width: 80%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.posting .loc {
  font-size: 1rem;
  text-align: left;
  margin-left: 10%;
}

.posting .time {
  font-size: 0.75rem;
  text-align: right;
  margin-right: 10%;
  color: gray;
}

.load_more {
  border-radius: 50px;
  width: 5%;
  height: auto;
  margin-right: auto;
  margin-left: 48%;
}

.load_more:hover {
  background-color: green;
}
