@charset "utf-8"
body {
  background-color: yellow;
  margin: 0;
}

.header {
  width: 100%;
  height: 8.3rem;
  background-color: white;
  padding-top: 4px;
}

.headerContent {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.headerContent img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
/*   width:  */
}

.headerBreak {
  width: 100%;
  height: 0;
  border-bottom: 5px solid #a7e0ee;
  display: inline-block;
}

.nav_icon {
  position: fixed;
  margin-left: 20px;
}


.nav {
  position: fixed;
  top: 1rem;
  width: 100%;
  margin-top: 20px;
  margin-right 10px;
  height: 40px;
}

.nav img {
  width: 4%;
  border-radius: 50%;
  border: 3px solid transparent;
  display: inline-block;
  float: right;
  margin-right: 1rem;
}

.nav img:hover {
  border: 3px solid gray;
}

.row {
  margin-top: 3rem;
}

.column {
  text-align: center;
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}

#post {
  border-radius: 25px;
  background-color: green;
  margin-left: 2rem;
  font-size: 2rem;
  border: solid blue;
  padding: 1rem 2rem;
  display: inline-block;
}

#post:hover, #request:hover {
  background-color: blue;
}

.row .column .image {
  display: block;
  height: 20rem;
}

.row .column .image div {
  display: block;
  height: 11rem;
}

.row .column .image .preview {
  width: 20%;
  margin-right: 20%;
  float: right;
  max-width: 100%;
  max-height: 100%;
}

.row .column .image .upload {
  width: 40%;
  float: right;
  margin-left: 10rem;
  margin-top: 2rem;
}

.row .column .in {
  display: block;
  float: left;
  position: relative;
  margin-right: 10rem;
  margin-bottom: 2rem;
}

.row .column .in textarea {
  resize: none;
  border: 2px solid black;
  float: left;
  font-size: 1.5rem;
  padding: 1rem;
}

.row .column .in #serv, #who, #how, #when {
  width: 90%;
  height: 2rem;
}

.row .column .in #desc {
  width: 90%;
  height: 9rem;
}

.row .column .in .count {
  font-size: 0.875rem;
  position: absolute;
  bottom: 0;
  right: 0;
  clear: both;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  width: 5rem;
}
