<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
        <script src="static/js/base.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="675774771358-d9cs6b29kg2ce9tao1l6kq0o55s76fku.apps.googleusercontent.com">
      {% endblock %}
    </head>
    <header>
      <div class="header">
        <div class="headerContent">
          <img id="home_icon" class="home_icon" src="../static/images/serviceUp.png"/>
          <div class="nav">
            <img id="profile" src="https://mpng.subpng.com/20180404/sqe/kisspng-computer-icons-user-profile-clip-art-big-5ac5283827d286.2570974715228703281631.jpg"/>
            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                {% if 'idinfo' in session %}
                  <div id="sign_out" class="bar">{{ session['idinfo']['email'] }} Sign out</div>
                {% else %}
                  <div id="sign_in" class="bar">Sign In</div>
                {% endif %}
              </div>

            </div>
            <img id="setting" src="https://cdn3.iconfinder.com/data/icons/interface-settings/16/gear-cog-settings-setting-512.png" width="50"/>
            <div id="post" class="bar">POST</div>
          </div>
        </div>
        <div class="headerBreak"></div>
      </div>
    </header>

    <body>
      {% block content %}{% endblock %}
    </body>
</html>