<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/css/base.css">
        <script src="static/js/base.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="675774771358-d9cs6b29kg2ce9tao1l6kq0o55s76fku.apps.googleusercontent.com">
      {% endblock %}
    </head>
    <header>
      <div class="header">
        <div class="headerContent">
          <img id="home_icon" class="home_icon" src="../static/images/serviceUp.png"/>
          <div class="nav">
            <img id="profile" src="../static/images/profile.jpg"/>
            <img id="post" src="./static/images/post.png"/>
            <div class="dropDown" id="dropDown">
              <a class="link" id="myprof">My Profile</a>
              <a class="link" id="messag">Messaging</a>
              <a class="link" id="sett">Settings</a>
              {% if 'idinfo' in session %}
                <a class="link" id="sign">Sign out</a>
              {% else %}
                <a class="link" id="sign">Sign In</a>
              {% endif %}
            </div>


            <!-- The Modal
            <div id="myModal" class="modal">

              Modal content
              <div class="modal-content">
                <span class="close">&times;</span>
              </div>

            </div>  -->
          </div>
        </div>
        <div class="headerBreak"></div>
      </div>
    </header>

    <body>
      {% block content %}{% endblock %}
    </body>
</html>