<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/base.css">
  <script src="static/js/base.js"></script>
  <meta name="google-signin-client_id" content="675774771358-d9cs6b29kg2ce9tao1l6kq0o55s76fku">
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <!-- .apps.googleusercontent.com -->
  {% endblock %}
</head>
<header>
  <div class="header">
    <div class="headerContent">
      <img id="home_icon" class="home_icon" src="../static/images/serviceUp.png" />
      <div class="nav">
        <img id="profile" src="../static/images/profile.jpg" />
        <img id="post" src="./static/images/post.png" />
        <div class="dropDown" id="dropDown">
          <a class="link" id="myprof">My Profile</a>
          <a class="link" id="messag">Messaging</a>
          <a class="link" id="sett">Settings</a>
          <a class="link" id="tos">ToS</a>
          <a class="link" id="pp">Privacy</a>
          {% if 'idinfo' in session %}
          <a class="link" id="sign">Sign out</a>
          {% else %}
          <a class="link" id="sign">Sign In</a>
          {% endif %}
        </div>
        {% if 'idinfo' not in session %}

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="inside-modal"><h2>Log in </h2></div>
            <div class="inside-modal g-signin2 container-login100-form-btn" data-onsuccess="onSignIn">googleButton</div>
          </div>

        </div>
        <!-- This script is just for the modal -->
        <script>
          // Get the modal
          var modal = document.getElementById("myModal");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks on <span> (x), close the modal
          span.onclick = function () {
            modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          }
        </script>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="headerBreak"></div>
  </div>
</header>

<body>
  {% block content %}{% endblock %}
</body>

</html>