{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
  <script src="static/js/home.js"></script>
{% endblock %}

{% block content %}
	<div class="searchBlock">
	  <div class="search-container">
	    <form action="javascript:void(0);">
	      <input type="text" placeholder="Keywords or Tag..." name="search">
	      <button type="submit">Submit</button>
	    </form>
	  </div>
	</div>
	<div class="row" id="posts">
	</div>

  <img class="load_more" id="load" src="static/images/arrow.png"/>
{% endblock %}
