{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/base.css">
  <link rel="stylesheet" type="text/css" href="static/css/new_post.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Guestbook</title>
{% endblock %}

{% block content %}
<section>
    <form action="/submit_post" method="post" enctype="multipart/form-data">
        <h2>New Post Form</h2>
        <div id="guestbookName"><input name="title" placeholder="Title" required></div>
        <div id="guestbookEmail"><input name="description" placeholder="Description" required></div>
        <div id="guestbookMessage"><textarea name="TBD" placeholder="TBD" rows="10" required></textarea></div>
        <label>Multiple files upload:</label>
        <input type="file" name="filename" id="formFileMultiple" multiple />
        <div><button id="postSubmit" type="submit">send</button></div>
    </form>
</section>
{% endblock %}