{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/post.css">
  <script src="static/js/post.js"></script>
{% endblock %}

{% block content %}
        <div class="post">
          <div class="title">Title</div>
          <div class="row">
            <div class="column">
              <img class="image" src="https://images-na.ssl-images-amazon.com/images/I/615%2BvEiuEEL._AC_SL1226_.jpg"/>
            </div>
            <div class="column">
              <div id="service">Service
                <div id="serviceBody" class="postBody">Body</div>
              </div>
              <div id="who">Who
                <div id="serviceBody" class="postBody">Body</div>
              </div>
              <div id="when">When
                <div id="serviceBody" class="postBody">Body</div>
              </div>
              <div id="much">How Much
                <div id="serviceBody" class="postBody">Body</div>
              </div>
              <div id="description">Description
                <div id="serviceBody" class="postBody">Body</div>
              </div>
            </div>
          </div>
        </div>

        <div class="bottomNav">
          <img id="profileUser" src="https://mpng.subpng.com/20180404/sqe/kisspng-computer-icons-user-profile-clip-art-big-5ac5283827d286.2570974715228703281631.jpg"/>
          <img id="messageUser" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFn7AQecL992owq8IzGEFmFlbLroPxiWfxVQ&usqp=CAU/>
        </div>
    </body>
{% endblock %}
