{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/profile.css">
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
  <script src="static/js/profile.js"></script>
{% endblock %}

{% block content %}
  <br>
  <div id="user" class="user">
    <img id="picture" src="{{ data[4] }}"/>
    <p id="name">{{data[2] + ' ' + data[3]}}</p>
  </div>
  <br>

  <div class="row" id="posts">
  </div>

  <div class="bottomNav">
    <img id="report" src="https://p.kindpng.com/picc/s/88-880246_report-abuse-icon-png-transparent-png.png"/>
    <img id="messageUser" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFn7AQecL992owq8IzGEFmFlbLroPxiWfxVQ&usqp=CAU/>
  </div>
  {% endblock %}