{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/css/profile.css">
  <script src="static/js/profile.js"></script>
{% endblock %}

{% block content %}
  <br>
  <div class="user">
    <img id="picture" src="./static/images/profile.jpg"/>
    <p id="name">Name</p>
    <p id="trust-factor">15000 pts</p>
    <p id="since">Member since 1968</p>
  </div>

  <div class="bottomNav">
    <img id="report" src="https://p.kindpng.com/picc/s/88-880246_report-abuse-icon-png-transparent-png.png"/>
    <img id="messageUser" src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFn7AQecL992owq8IzGEFmFlbLroPxiWfxVQ&usqp=CAU/>
  </div>
  {% endblock %}